body {
  background-color: darkslategray;
  color: white;
  font-family: arial;
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  text-align: left;
  width: 80%;
  margin: 0 auto;
}
tr {
  margin: 4px;
  background-color: lightgray;
  color: #595959;
}

h1 {
  font-size: 50px;
  margin-bottom: 0;
}

h2 {
  font-size: 30px;
}

hr {
  display: none;
}

a {
  text-decoration: none;
  color: #595959;
  text-align: center;
}

button {
  border: none;
  padding: 10px 15px;
  background-color: cadetblue;
  border: 1px solid cadetblue;
  color: white;
  text-transform: uppercase;
  border-radius: 8px;
  margin: 10px auto;
  cursor: pointer;

  transition: 0.4s;
}

button:hover {
  background-color: white;
  border: 1px solid cadetblue;
  color: cadetblue;
}

thead tr,
.header-left th {
  background-color: cadetblue;
  color: white;
}
tr:nth-child(even) {
  background-color: whitesmoke;
}

td,
th {
  padding: 15px;
}

.error {
  background-color: lightcoral;
  border: 2px solid red;
  padding: 20px;
  width: 80%;
  margin: 10px;
}

@media (max-width: 767px) {
  tr {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  thead tr,
  .header-left th {
    width: 89%;
    text-align: center;
  }
  thead tr {
    display: none;
  }
}
